<%# app/views/shopping_carts/_cart_total.html.erb %>
<%= turbo_frame_tag "cart_total" do %>
  <div class="flex justify-between items-center border-t pt-4 mt-4 dark:border-gray-700">
    <div class="text-xl font-bold dark:text-white">
      Total: $<%= number_with_precision(cart.total_price, precision: 2) %>
    </div>
  </div>
<% end %>