<div class="text-center mt-4">
  <%= button_to "Checkout", orders_path, method: :post,
      class: "px-8 py-2 bg-green-500 text-white px-6 py-2 rounded hover:bg-green-600 dark:bg-green-600 dark:hover:bg-green-700" %>
</div>