# app/views/home/index.html.erb
<div class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4">
  <% @pokemon_products.each do |product| %>
    <%= render partial: "pokemon_products/product_card", locals: { product: product } %>
  <% end %>
</div>